{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block head %}


<style>
    
    #map {
        height: 500px;
        width: 100%;
    }



    .input-group-static {

        margin-bottom: 1.5rem;
    }

    .input-group-static .form-control.zip-code {
        width: 120px;
    }
</style>



{% endblock %}

{% block body %}


<div class="container-fluid py-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body p-3 position-relative">
            <div class="row">
                <div class="col-7 text-start">
                  <p class="text-sm mb-1 text-capitalize font-weight-bold">Positive Feedbacks</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{positive_count}}
                  </h5>
                  <span class="text-sm text-end text-success font-weight-bolder mt-auto mb-0">
                    {{positive_percentage}}% 
                  </span>
                </div>
                <div class="col-5">
                  <div class="dropdown text-end">
                    <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers2" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="text-xs text-secondary">{{month_name}}, {{current_year}}</span>
                    </a>
                    
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-sm-0 mt-4">
      <div class="card">
        <div class="card-body p-3 position-relative">
          <div class="row">
            <div class="col-7 text-start">
              <p class="text-sm mb-1 text-capitalize font-weight-bold">Neutral Feedbacks</p>
              <h5 class="font-weight-bolder mb-0">
                
                {{neutral_count}}
              </h5>
              <span class="text-sm text-end text-warning font-weight-bolder mt-auto mb-0">{{neutral_percentage}}%</span>
            </div>
            <div class="col-5">
              <div class="dropdown text-end">
                <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers2" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-xs text-secondary">{{month_name}}, {{current_year}}</span>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-sm-0 mt-4">
      <div class="card">
        <div class="card-body p-3 position-relative">
          <div class="row">
            <div class="col-7 text-start">
              <p class="text-sm mb-1 text-capitalize font-weight-bold">Negative Feedbacks</p>
              <h5 class="font-weight-bolder mb-0">
                {{negative_count}}
              </h5>
              <span class="text-sm text-end text-danger font-weight-bolder mt-auto mb-0">{{negative_percentage}}% 
                </span>
            </div>
            <div class="col-5">
              <div class="dropdown text-end">
                <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers2" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-xs text-secondary">{{month_name}}, {{current_year}}</span>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Leads Feedback</h6>
          <p class="text-sm font-weight-normal mb-0">Last 10 leads</p>

        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>


                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contact Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Lead Flow</th>

                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Open Report</th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                <tr>
                  <td>
                    <div class="d-flex px-3 py-1">
                      <div>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{contact.pushed}}</h6>
                      </div>
                    </div>
                  </td>

                  

                  <td class="align-middle text-end">
                    <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                      <p class="text-sm font-weight-normal mb-0">{{contact.seller_name}}</p>
                    </div>
                  </td>
                  <td class="align-middle text-end">
                    <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                      <p class="text-sm font-weight-normal mb-0">{{contact.lead_flow}} %</p>
                    </div>
                  </td>
                  <td class="align-middle text-end">
                    <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                        <a href="lead-quality/{{contact.lead_id}}" class="text-sm font-weight-normal mb-0">
                            <i class="material-icons opacity-10">open_in_new</i>
                          </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>




<script src="static/js/plugins/dragula/dragula.min.js"></script>
<script src="static/js/plugins/jkanban/jkanban.js"></script>
 
<script src="static/js/plugins/chartjs.min.js"></script>

<script>
 





</script>











{% endblock %}
